h1 {
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2.4rem;
  color: $color-cyan;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-size: 2.4rem;
  font-weight: bold;
  color: $color-white;
}
