$color-white: #fff;
$color-black: #000;
$color-cyan: #1652a2;
$color-cyan-light: #0081e4;
$color-blue: #2381ff;
$color-blue-dark: #006cff;
$color-blue-light: #5abbff;
$color-blue-bahama: #215a87;
$color-onahau: #c1e2ee;
$color-gray: #696969;
$color-gray-light: #f6f8ff;
$color-cornflower: #b5d4ff;
$color-cornflower-dark: #b1d2ff;
$color-heather: #adb5bd;

$ff-sans: "Roboto", sans-serif;
